
<!DOCTYPE html>
<html>
    <head>
        <title>Dencrypter/Home</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Oh hi <%=user%> ! </h1>
        <h1>Welcome to Dencrypter, the most visited site in 2025 !! </h1>
        <div>upload your file here </div><br>
        <form action='/upload' enctype="multipart/form-data" method='POST'>
            <input type="file" name="file">
            <input type="submit" value="submit">
        </form>
        <form action='/encrypt' method='POST'>
            File Name <input type="text" name="fileName">
            <input type="submit" name="encrypt" value="encrypt">
        </form><br>
        <form action='/decrypt' method='POST'>
            File Name <input type="text" name="fileName">
            <input type="submit" name="decrypt" value="decrypt">
        </form><br>
    </body>
</html>


