
<!DOCTYPE html>
<html>
    <head>
        <title>Dencrypter/Home</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Oh hi <%=user%> ! </h1>
        <h1>Welcome to Dencrypter, the most visited site in 2025 !! </h1>


        <div>upload your files here </div><br>
        <form action='/upload' enctype="multipart/form-data" method='POST'>
            File to upload <input type="file" name="file">
            <input type="submit" value="upload">
        </form>
        
        <input type="file" id="file" hidden="hidden" />
        <button type="button" id="upload-button">Choose a file to encrypt</button>
        <span id="custom-text">No file chosen yet</span>
        <button type="button" id="encrypt">Encrypt you file</button>
        <script>
            
            const upButton = document.getElementById("upload-button");
            const file = document.getElementById("file");
            const text = document.getElementById("custom-text");
            const encrypt = document.getElementById("encrypt");
            upButton.addEventListener("click", function(){
                file.click();
            });
            file.addEventListener("change", function(){
                if (file.value){
                    text.innerHTML = file.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                } else {
                    text.innerHTML = "No file chosen yet";
                }
                console.log(file);
            });
            encrypt.addEventListener("click", function(){
                if (file.value){
                    alert(file.getAsBinary());
                }
            });

        </script>
        

        <form action='/decrypt' method='POST'>
            File to decrypt <input type="upload" name="fileName">
            <input type="submit" name="decrypt" value="decrypt">
        </form><br>
        
    </body>
</html>


