
<!DOCTYPE html>
<html>
    <head>
        <title>Dencrypter/Home</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Oh hi mark ! </h1>
        <h1>Welcome to Dencrypter, the most visited site in 2025 !! </h1>


        <html>
  <head>
    <script type="text/javascript" src="hybrid-crypto.min.js"></script>

  </head>

  <body onload="init()">
    <input id="fileInput" type="file" name="file" />
    <pre id="fileContent"></pre>
  </body>
</html>
<script>
function init(){
  document.getElementById('fileInput').addEventListener('change', handleFileSelect, false);
}

function handleFileSelect(event){
  const reader = new FileReader()
  reader.onload = handleFileLoad;
  reader.readAsBinaryString(event.target.files[0])
}

function handleFileLoad(event){
  console.log(event);

  var filename = fileInput.value.replace(/^.*[\\\/]/, '');

  
  var testObject = event.target.result;
  localStorage.setItem('testObject', JSON.stringify(testObject));
  var retrievedObject = JSON.parse(localStorage.getItem('testObject'));
  console.log('retrievedObject: ', retrievedObject);

  var crypt = new Crypt();
  var rsa = new RSA();
  
  //try synchrone
  rsa.generateKeyPair(function(keyPair) {
    var publicKey = keyPair.publicKey;
    var privateKey = keyPair.privateKey;
    
    var data = event.target.result;
    //encrypting data
    var encrypted = crypt.encrypt(publicKey, data);


    //library :  XMLHTTPREQUEST
    //upload them to server?

    //saving keys to local storage
    localStorage.setItem(filename+"PublicKey", JSON.stringify(publicKey));
    localStorage.setItem(filename+"PrivateKey", JSON.stringify(privateKey));
    //change this
    localStorage.setItem(filename+"Encrypted", JSON.stringify(encrypted));
    
  });
  function decrypt(filename){
    //get data(encrypted) from server? extract data name (fileName)
    //change this
    var encrypted = JSON.parse(localStorage.getItem(filename+"Encrypted"));
    
    var privateKey = JSON.parse(localStorage.getItem(filename+"PrivateKey"));
    //this star has a problem
    var decrypted = crypt.decrypt(privateKey, encrypted);
    var message = decrypted.message;
    //download message??
    return message;
  }
  var xhr=new XMLHttpRequest();
  var data = decrypt(filename);
  var url = "/home/upload"; 
  xhr.open('POST', url, true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      callback(xhr.response);
    }
  }
  var number = {
           value: 1547
         }
  xhr.send(JSON.stringify(number));
  alert('ola');
  
  
}
</script>



