body {
    width: auto;
    overflow: hidden;
}
.text {
    margin: 5% ;
    margin-bottom: 10%;
    margin-left: 5%;
    padding: 15% 10% 15% 5%;
    background-color: #4586e7;
    color: white;
    float: left;
}
h1 {
    font-size: 100px;
}
.buttons {
    background-color: #4586e7;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    padding: 2% 8% 0.7% 8%;
    float: left;
    color: white;
}
.form {
    padding-bottom: 10%;
    text-align: center;
}
.btn {
   
    width: 120px;
    height: 70px;
    text-align: center;
    padding-bottom: 5%;    
}
.input {
    height: 70px;
    width: 250px;
    text-align: center;
}
img {
    z-index: -1;
    position: absolute;
    right: 0px;
    top: 3%; 
    right: -40%;
    padding-left: 150%;
    margin-left: 10%;
    height: 90%;    
}
label {
    float: left;
}
        